---
layout: default
---
<!-- blog single -->
    <div class="blog-single segments-page">
        <div class="container">
            <div class="contents">
                <img src="{{ page.image }}" alt="{{ page.title | escape }}">
                <div class="text">
                    <h4>{{ page.title | escape }}</h4>
                    <p class="date">
                        <i class="fa fa-calendar"></i>{{ page.date | date: date_format }}</p>
                    {{ content }}
                </div>
            </div>
            <div class="share-button">
                <ul>
                    <li>
                        <div class="fb-share-button" data-href="{{ page.url }}" data-layout="" data-size=""><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url }}" class="fb-xfbml-parse-ignore">Share</a></div>
                    </li>
                    <li>
                        <a class="twitter-share-button"
  href="https://twitter.com/intent/tweet">
Tweet</a>
                    </li>
                    <li>
                        <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-share-url="{{ page.url }}" data-comment="Check this out!"></script>
                    </li>
                    <li>
                        <a data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url={{ page.url }}&media={{ page.image }}&description=page.title" data-pin-shape="round">
</a>
                    </li>
                </ul>
            </div>
            {% assign author = site.data.people[page.author] %}
            <div class="author">
                <div class="image">
                    <img src="images/admin.png" alt="{{ author.twitter }}">
                </div>
                <div class="text">
                    <h6>{{ author.name }}</h6>
                    <p>{{ author.twitter }}</p>
                    <div class="social-link">
                        <ul>
                            <li>
                                <a href="">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-google"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {%- endif -%}
            <div class="blog-comment">
                <h5>Comment</h5>
                <div class="content">
            <div class="comment-form">
                <h4>Leave Your Reply</h4>
                {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
            </div>
        </div>
    </div>
    <!-- end blog single -->
